<%- include("header") -%>

    <div class="box" id="heading">
 <h1> <%= ListTitle %></h1>
  </div>

<div class="box">
  <%  for(i=0;i<newListItems.length;i++){  %>
   <div class="item ">
     <input type="checkbox">
     <p> <%= newListItems[i] %>  </p>
   </div>

  <% } %>
  <form class="item" action="/" method="post">
<input type="text" name="newItem" placeholder="New Item" autocomplete="off">
<button type="submit" name="list" value=<%= ListTitle%> >+</button>
 </form>
</div>


<%- include("footer") -%>






<!-- <%%> is used in control flow; line by line -->
<!-- 《%--%》 layouts: is used when you want some part to remain the same while only the content of each page is changed in css styles.-->
